astroid==1.4.9
asttokens==1.1.13
automationhat==0.2.0
blinker==1.3
blinkt==0.1.2
bme680==1.0.5
bmp280==0.0.3
buttonshim==0.0.2
Cap1xxx==0.1.3
chardet==2.3.0
click==6.6
colorama==0.3.7
colored-traceback==0.3.0
coloredlogs==10.0
colorzero==1.1
cryptography==3.3.2
decorator==4.4.0
docutils==0.13.1
drumhat==0.1.0
envirophat==1.0.0
ExplorerHAT==0.4.2
Flask==1.0
fourletterphat==0.1.0
gpiozero==1.5.0
humanfriendly==4.18
i2cdevice==0.0.6
idna==2.2
isort==4.2.5
itsdangerous==0.24
jedi==0.10.2
Jinja2>=2.10.1
jplephem==2.12
keyboard==0.13.3
keyring==10.1
keyrings.alt==1.3
lazy-object-proxy==1.2.2
lunardate==0.2.0
MarkupSafe==0.23
microdotphat==0.2.1
mote==0.0.4
motephat==0.0.2
mypy==0.470
networkx==2.3
numpy==1.17.0
oauthlib==2.0.1
paho-mqtt==1.4.0
pantilthat==0.0.7
parse-rest==0.2.20170114
pbr==5.2.1
pgzero==1.2
phatbeat==0.1.1
pianohat==0.1.0
picamera==1.13
picraft==1.0
piglow==1.2.5
pigpio==1.38
Pillow>=6.2.0
pimoroni-bme280==0.0.2
pyasn1==0.1.9
pyCalverter==1.6.1
pycrypto==2.6.1
pygame==1.9.3
Pygments==2.7.4
pygobject==3.22.0
pyinotify==0.9.6
PyJWT==1.4.2
pylint==1.6.5
pyluach==1.0.1
pynput==1.4.2
pyOpenSSL==17.5.0
pyperclip==1.5.27
pyserial==3.2.1
PySimpleGUI==4.15.2
PySocks==1.7.0
python-apt==1.1.0b5
python-dateutil==2.8.1
python-xlib==0.25
pytz==2019.2
pyxdg==0.26
rainbowhat==0.1.0
requests==2.20.0
requests-oauthlib==0.7.0
roman==2.0.0
RPi.GPIO==0.6.5
RTIMULib==7.2.1
scikit-fuzzy==0.4.2
scipy==1.3.1
scrollphat==0.0.7
scrollphathd==1.2.1
SecretStorage==2.3.1
sense-hat==2.2.0
sgp4==2.2
simplejson==3.10.0
six==1.12.0
skyfield==1.17
skyfield-data==0.1.0
skywriter==0.0.7
sn3218==1.2.7
spidev==3.3
ssh-import-id==5.6
stevedore==1.30.1
thonny==3.1.0
thonny-pi==1.1
touchphat==0.0.1
twython==3.4.0
typed-ast==0.6.3
unicornhathd==0.0.4
urllib3==1.26.5
virtualenv==16.6.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
Werkzeug==0.15.3
workalendar==8.0.2
wrapt==1.9.0
