# All temporary folders
**/temp
**/__pycache__

# All binaries
**.bin

# Data folders
Python/Master/data/
Python/Grower/data/
Python/Cloud/data/
Python/Tucan/data/
Python/Cloud/captures/
Python/Tucan/captures/

# Config Files
Python/Master/*.json
Python/Master/*.config
Python/Master/src/*.csv
Python/Master/log2DB/*.conf
Python/Cloud/*.json
Python/Tucan/*.json
GUI/*.csv

# Security files
Python/Master/src/credentials.py
Python/Master/src/credentials-google.json
Python/Master/src/token.json