[Desktop Entry]
Name=Grow Greens
Comment=Grower System Control
Icon=/home/pi/Documents/GrowGreens/Python/Tucan/img/GrowGreens_Web.png
Exec=lxterminal -t "Grow Greens (Tucan)" --working-directory=/home/pi/Documents/GrowGreens/Python/Tucan/ --command="/bin/bash -c './growTucan.py'"
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
