{   "bluetoothDevices": {"Pulsera1": {"mac": "ac:23:3f:a9:bf:95", "rssi_always": "False", "rx_power": "-59"},
                         "Pulsera2": {"mac": "ac:23:3f:a9:bf:7c", "rssi_always": "False", "rx_power": "-59"},
                         "rasp":{"mac": "b8:27:eb:ef:a5:87", "rssi_always": "True", "rx_power": "-59"}
                        },
    "clients": { "23-009-001": {"x": "0", "y": "13.0", "z": "1.1"}, 
                 "23-009-002": {"x": "0", "y": "21.0", "z": "1.1"}, 
                 "23-009-003": {"x": "0", "y": "25.7", "z": "1.1"}, 
                 "23-009-004": {"x": "0", "y": "33.7", "z": "1.1"}, 
                 "23-009-005": {"x": "0", "y": "38.7", "z": "1.1"}, 
                 "23-009-006": {"x": "0", "y": "40.7", "z": "1.1"}
               },
    "brokerIP": "192.168.6.10"
}